server {
    listen ${PORT};
    listen [::]:${PORT};

    server_name ${DOMAIN};

    include conf.d/site/locations/*.conf;

    if ($host = ${DOMAIN}) {
        return 301 https://$host$request_uri;
    }
}

include /tmp/nginx/conf.d/default.ssl.conf;

include conf.d/site/virtual-servers/virtual.servers.conf;
